.gridview-wrapper {
    position: relative;
}

.kv-grid-table .filters {
    display: none;
}

.datatable-filters .filters {
    display: table-row;
}

.datatables-tools {
    display: flex;
    justify-content: flex-end;
    float: right;
}

.datatables-tools > * {
    margin-left: 5px;
}

.gridview-toolbar-left {
    display: flex;
    justify-content: end;
    position: relative;
    padding-top: inherit;
    padding-left: inherit;
    left: 0;
    top: 0;
}

.gridview-toolbar-left,
.datatables-tools {
    width: 100%;
    margin-bottom: 10px;
}

.gridview-toolbar-left .grid-size-filter + .select2 {
    width: 75px !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .gridview-toolbar-left,
    .datatables-tools {
        width: 50%;
    }

    .gridview-toolbar-left {
        position: absolute;
        justify-content: start;
    }
}